body {
    background-color: aqua;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.container {
    background-color: darksalmon;
    padding: 15px;
    width: 40%; /*en relacion al body*/
    border: solid 2px black;
    align-self: center;
    display: block;
    margin: 100px auto;/*When one value is specified, it applies the same margin to all four sides*/
}

.screen {
  color: black;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px; 
}

input[type='button']:hover { /*Note: there shouldn't be space */
    background-color:blueviolet;
}
input[type='button']:active {
    background-color:coral
}

.operator {
    background-color: darkcyan;
    padding: 5px;
    width: 100%;
    height: 40px;
}

.number {
    padding: 5px;
    width: 100%;
    height: 40px;
}

.decimal {
    background-color: cornflowerblue;
    padding: 5px;
    width: 100%;
    height: 40px;
}

#equal {
    background-color: darkolivegreen;
    padding: 5px;
    width: 100%;
    height: 40px;
}

.clear {
    background-color: darkgoldenrod;
    padding: 5px;
    width: 100%;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
}

table {
    width: 100%;
}